<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Active Gym</title>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="estilos.css">
  <link rel="icon" href="../images/ACTIVE.png" type="image/x-icon">
</head>
<body>

<div class="container">
  <div class="menu">
    <div class="logo">
      <img src="../images/ACTIVE.png" alt="Logo de Active Gym" class="logo-img">
    </div>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="formulario.html">Agregar Cliente</a></li>
      <li><a href="listaClientes.html">Ver Lista de Clientes</a></li>
      <!-- Agrega más opciones de navegación según sea necesario -->
    </ul>
  </div>
  <div class="contenido">
    <!-- Campo de búsqueda -->
    <input type="text" id="search" placeholder="Buscar cliente por nombre">

    <table id="clientes">
      <thead>
          <tr>
              <td>Nombre</td>
              <td>Apellido</td>
              <td>Fecha de Ingreso</td>
              <td>Celular</td>
              <td>Operaciones</td>
          </tr>
      </thead>
      <tbody>
          {% for cliente in Clientes %}
          <tr>
            <td>{{cliente.1}}</td>
            <td>{{cliente.2}}</td>
            <td>{{cliente.3}}</td>
            <td>{{cliente.4}}</td>
            <td>
              <a href="/editar/{{cliente.0}}" class="btn btn-secondary">edit</a>
              <a href="/eliminar/{{cliente.0}}" class="btn btn-danger btn-delete">delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="script.js"></script>

</body>
</html>
